form.form-inline(action="/post", method="POST", enctype="multipart/form-data")
    label.sr-only(for="name") Name
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text 작성자
        input#name.form-control(type="text", name="name", required="")
    label.sr-only(for="date") Date
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text 유효기간
        input#date.form-control(type="date", name="date", required="")
    label.sr-only(for="image") Image
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text 사진
        input#image.form-control(type="file", name="image", accept="image/*")
    label.sr-only(for="message") Message
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text 내용
        input#message.form-control(type="text", name="message", required="")

    button.btn.btn-primary.mb-2(type="submit") 글쓰기
